body {
    font-family: "monserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #004d26;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 40px;
    background-color: #06291a;
    color: rgb(255, 255, 255);
}
nav ul {
    list-style: none;
    display: flex; 
    gap: 20px;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav a:hover {
    color: #ffffff;
}
section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background-color: #1e6d46;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#hero {
    text-align: center;
    margin-bottom: 40px;
    padding: 40px 20px;
}
#hero img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    margin-bottom: 20px;
}
#hero h1 {
    margin: 0;
    font-size: 2.5em;
}
#hero p {
    font-size: 1.2em;
    color: #ffffff;
}
h2 {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
}
thead {
    background-color: #234122;
    color: #ffffff;
}
tbody tr:nth-child(even) {
    background-color: #2e7b4a;
}
#contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}
#contact label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #06291a;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    #hero {
        flex-direction: column;
        text-align: center;
    }
    main {
        margin: auto;
    }
    section {
        padding: 20px;
    }
    
}